# Cleaning

This notebook tests and describes the procedures for cleaning the NOTAMs.

## Preamble

In [33]:
# load basic libraries
import numpy as np
import os
import sys
import re
import pandas as pd
from importlib import reload

# add ./python to python path
sys.path.insert(0, '../python')

# load local libraries
import cleaning
import text_processing

## Options

In [11]:
# options
data_dir = '../0_data'

## Data cleaning

In [343]:
reload(cleaning)

# create cleaner object
cleaner = cleaning.Cleaning()

# read the data
cleaner.read(data_dir+'/23-08-2018/Export.txt')
print('Read {} NOTAMs'.format(cleaner.N))

# split the NOTAM into items
cleaner.split()

# process unstructured
# cleaner.process_E()

Read 98547 NOTAMs

In [344]:
# get the data frame
df = cleaner.get_df()

In [345]:
# number of None entries
print(sum(df['text'].values == ''))

458

In [347]:
reload(text_processing)
_ = text_processing.azureml_main(df)

In [352]:
for i in range(100, 120):
    print(df.iloc[i]['text'], '\n', df.iloc[i]['text_azureml'], '\n')

RWY 04 5/5/5 100 PCT WET OBS AT 1806302227.
 <runway> <number> <number> <number> <number> PCT WET OBS AT <number>

ACT MIL AREA MMR- 414-A
 ACTIVE MILITARY AREA MMR  <number> A

ALS RWY 19 OPR CADA 60M
 ALS <runway> OPR CADA <distance>

TWY D CLSD
 TAXIWAY D CLOSED

TWY C BTN TWY Q AND TWY L CLSD
 TAXIWAY C BETWEEN TAXIWAY Q AND TAXIWAY L CLOSED

ALS RWY 10 U/S.
 ALS <runway> UNSERVICEABLE

RWY 31 5/5/5 100 PCT WET  OBS AT 1806302226.
 <runway> <number> <number> <number> <number> PCT WET  OBS AT <number>

RWY 18 5/5/5 100 PCT WET OBS AT 1806302225.
 <runway> <number> <number> <number> <number> PCT WET OBS AT <number>

APRON ALL WET OBS AT 1806302223.
 APRON ALL WET OBS AT <number>

TWY L BTN TWY F AND TWY E CLSD
 TAXIWAY L BETWEEN TAXIWAY F AND TAXIWAY E CLOSED

ACT MIL AREA MMR-413
 ACTIVE MILITARY AREA MMR <number>

TWY ALL WET OBS AT 1806302222.
 TAXIWAY ALL WET OBS AT <number>

RFFS EXTD OPS HR
 RFFS EXTD OPERATIONS HR

RWY 05 5/5/5 100 PCT WET  OBS AT 1806302221.
 <runway> <number> <number> <number> <number> PCT WET  OBS AT <number>

RWY 32 5/5/5 100 PCT WET OBS AT 1806302220.
 <runway> <number> <number> <number> <number> PCT WET OBS AT <number>

ACT MIL AREA MMR-412
 ACTIVE MILITARY AREA MMR <number>

(TDM TRK K 180701050001  1807010500 1807012100  DINTY CUNDU 33N140W 33N150W 32N160W 29N170W 28N180E 27N170E  26N160E 25N150E 24N140E TUNTO  RTS/KLAX DINTY  TUNTO R595 SEDKU  TUNTO IGURU  TUNTO GUMBO  RMK/NO TRK ADVISORY FOR TRK K TONIGHT  ALTITUDE MAY BE RESTRICTED WHILE CROSSING ATS ROUTES
  TDM TRK K <number>  <number> <number>  DINTY CUNDU <coordinate> <coordinate> <coordinate> <coordinate> <coordinate> <coordinate>  <coordinate> <coordinate> <coordinate> TUNTO  RTS KLAX DINTY  TUNTO R<number> SEDKU  TUNTO IGURU  TUNTO GUMBO  REMARK NO TRK ADVISORY FOR TRK K TONIGHT  ALTITUDE MAY BE RESTRICTED WHILE CROSSING ATS ROUTES

(TDM TRK J 180701050001  1807010500 1807012100  BOXER KYLLE KANUA KURTT KATCH LOHNE ARCAL 59N160W ONEOX NULUK  NANDY NATES NIKLL NYMPH NUZAN NIPPI  RTS/KSFO GNNRR STINS AMAKR BOXER  KLAX MCKEY LIBBO BRINY BOARS BOXER  NIPPI R220 NANAC  RMK/NO TRK ADVISORY FOR TRK J TONIGHT
  TDM TRK J <number>  <number> <number>  BOXER KYLLE KANUA KURTT KATCH LOHNE ARCAL <coordinate> ONEOX NULUK  NANDY NATES NIKLL NYMPH NUZAN NIPPI  RTS KSFO GNNRR STINS AMAKR BOXER  KLAX MCKEY LIBBO BRINY BOARS BOXER  NIPPI R<number> NANAC  REMARK NO TRK ADVISORY FOR TRK J TONIGHT

(TDM TRK 8 180701070001  1807010700 1807012100  KALNA 43N160E 45N170E 48N180E 50N170W 52N160W 53N150W 52N140W  MANJO  RTS/ONION OTR5 KALNA  MANJO NAKBI EPTIV UPR KDFW  RMK/0
  TDM TRK <number> <number>  <number> <number>  KALNA <coordinate> <coordinate> <coordinate> <coordinate> <coordinate> <coordinate> <coordinate>  MANJO  RTS ONION OTR<number> KALNA  MANJO NAKBI EPTIV UPR KDFW  REMARK <number>

SELCAL FREQ 10024 KHZ U/S
 SELCAL FREQUENCY <frequency> UNSERVICEABLE

In [228]:
reload(cleaning)

cleaner.split()

#NOTAM_cleaning.extract_

In [229]:
reload(cleaning)

bad = cleaner.get_df()['text'] == None

#cleaner.get_df()['text'][1000:1100]


print(sum(bad))
#cleaner.get_df()[bad]

0

In [192]:
NOTAM = txt.values[0]
#print(NOTAM)

#m = re.search('[E-G]\)', NOTAM)


m = re.split('[E-G]\)', NOTAM)


#[(m.start(0), m.end(0)) for m in re.finditer(pattern, string)]

#m = re.findall('[Q\)|[A-G]\)', NOTAM)
print(m[1])

#NOTAM.split('Q\)|[A-G]\)')

ACT MIL AREAS MMR-116, MMR-117 AND MMR-119

In [97]:
txt_df = pd.DataFrame(txt).rename(columns={'fulltext':'text'})

In [98]:
print(txt_df.iloc[1]['text'])

A3657/18 NOTAMN Q)LTXX/QWELW/IV/BO/W/300/300/3647N02948E042 A)LTAA LTBB B)1807010700 C)1807011530 E)AIRBORNE WARNING AND CONTROL SYSTEM FLIGHT WILL TAKE PLACE. AREA:362500N0303000E 362500N0290500E 371000N0290500E 371000N0303000E F)30000FT AMSL G)30000FT AMSL

In [99]:
%timeit 
res = text_processing.azureml_main(txt_df)
print(txt_df.iloc[1]['text'])

A<number> <number> NOTAMN Q LTXX QWELW IV BO W <number> <number> <coordinate><number> A LTAA LTBB B <number> C <number> E AIRBORNE WARNING AND CONTROL SYSTEM FLIGHT WILL TAKE PLACE  AREA <coordinate> <coordinate> <coordinate> <coordinate> F <height> G <height>

In [91]:
#for i in range(10):
#    print(res[i].values)

print(res[0].values[4], txt_df.iloc[4]['text'])

['A<NUMBER> <NUMBER> NOTAMN Q EDWW QFALC IV NBO A <NUMBER> <NUMBER> <COORDINATE><NUMBER> A EDDH B <NUMBER> C <NUMBER> E AERODROME CLOSED EXCEPT HELIPADS '] A<NUMBER> <NUMBER> NOTAMN Q EDWW QFALC IV NBO A <NUMBER> <NUMBER> <COORDINATE><NUMBER> A EDDH B <NUMBER> C <NUMBER> E AERODROME CLOSED EXCEPT HELIPADS